
.footer{
  min-height: 60px;
  a{
    color: grey;
    text-decoration: underline;

  }
}

p a {
  color: blue;
  text-decoration: underline;
}

 a {
color: black;
}

address {
  line-height: 1;
}

.jumbotron {
  margin-bottom: 0;
}

.prefooter{

  min-height: 200px;
}
